<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido!</title>
</head>
<body>
    <h1>Datos almacenados:</h1>

    <p>Personas registradas: {{no_personas}}</p>

    <div>
        <a href="nueva_persona" target="_blank">Agregar una Nueva Persona</a>
    </div>

    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for persona in personas_total %}
            <tr>
                <td>{{persona.id}}
                <td>{{persona.nombre}} {{persona.apellido}}</td>
                <td>{{persona.edad}}</td>
                <td><a href="detalle_persona/{{persona.id}}" target="_blank">Ver</a></td>
                <td><a href="editar_persona/{{persona.id}}" target="_blank">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>