<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domicilios</title>
</head>
<body>
  <h1>Domicilios</h1>
  <p>Domicilios registrados: {{domicilios_nro}}</p>

    <ul>
        {% for domicilio in domiclios_total %}
        <li>ID: {{domicilio.id}}
            | Calle: {{domicilio.calle}}
            | Direccion: {{domicilio.numero}}
            | Ciudad: {{domicilio.ciudad}}
            | <a href="detalle_domicilio/{{domicilio.id}}">Ver</a>
            | <a href="editar_domicilio/{{domicilio.id}}">Editar</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>