<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Domicilios</title>
</head>
<body>
  <h1>Domicilios</h1>
  <p>Domicilios registrados: {{domicilios_nro}}</p>

    <ul>
        {% for domicilio in domiclios_total %}
        <li>ID: {{domicilio.id}}
            | Calle: {{domicilio.calle}}
            | Direccion: {{domicilio.numero}}
            | Ciudad: {{domicilio.ciudad}}
            | <a href="detalle_domicilio/{{domicilio.id}}">Ver</a>
            | <a href="editar_domicilio/{{domicilio.id}}">Editar</a>
            | <a href="eliminar_domicilio/{{domicilio.id}}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>

  <div>
      <a href="nuevo_domicilio">Agregar nuevo domicilio</a>
      <br>
      <a href="{% url 'index' %}">Volver a Personas</a>
  </div>


</body>
</html>